[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
pylint = "*"
selenium = "*"
coverage = "*"

[packages]
django = "*"
psycopg2 = "*"
sentry-sdk = "*"
gunicorn = "*"
pillow = "*"
django-debug-toolbar = "*"
django-heroku = "*"
django-storages = {extras = ["google"],version = "*"}
google-auth = "*"

[requires]
python_version = "3.8"
