[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
v = {editable = true,version = "*"}
autopep8 = "*"
flake8 = "*"
pylint = "*"
selenium = "*"

[packages]
django = "*"
psycopg2 = "*"
sentry-sdk = "*"
gunicorn = "*"
pillow = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.8"
