{% extends "day_to_day/base.html" %}
{% block content %}
{% load static %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Accueil</h1>
</div>

<div class="row">

{% if messages%}
{% for message in messages %}
  <div class="col mb-4 mr-2">

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{ message.title }}</h6>
      </div>
      <div class="card-body">
        <h4 class="small font-weight-bold">{{ message.content }}</h4>
      </div>
    </div>

  </div>
{% endfor %}
{% else%}
<div class="d-sm-flex align-items-center justify-content-between mb-4 ml-5">
  <h5 class="h5 mb-0 text-gray-800">Aucun Message Aujourd'hui, Bonne Journée !</h1>
</div>
{% endif %}
{% endblock content %}
