{% extends "day_to_day/base.html" %}
{% block content %}
{% load static %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Enfants Inscrits</h1>
</div>

<div class="row">

  <div class="col mb-4">

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Veuillez effectuer une sélection pour accéder aux données / enregistrer une transmission :</h6>
      </div>
      <div class="card-body">
        <div class="input-group">
          <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon" onchange="location = this.value;">
            <option selected value="#">Choisir...</option>
            {% for trans in object_list %}
            <option value="#">{{ trans }}</option>
            {% endfor %}
          </select>
      </div>
    </div>

  </div>
</div>
{% endblock content %}
