{% extends "auth_access_admin/base.html" %}
{% block content %}
{% load static %}
{% load i18n static %}

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-reset-password-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  {% if validlink %}
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">C'est Bientôt Fini !</h1>
                  </div>
                  <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

                  <form method="post" class="user">{% csrf_token %}
                    <div class="form-group">
                      {{ form.new_password1.errors }}
                      <label for="id_new_password1">{% trans 'New password:' %}</label>
                      {{ form.new_password1 }}
                    </div>
                    <div class="form-group">
                      {{ form.new_password2.errors }}
                      <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
                      {{ form.new_password2 }}
                    </div>
                    <input class="btn btn-primary btn-user btn-block" type="submit"
                      value="{% trans 'Change my password' %}">
                  </form>

                  {% else %}

                  <p>
                    {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
                  </p>

                  {% endif %}

                  <hr>
                  </form>
                  <div class="text-center">
                    <a class="small" href={% url "frontpage:homepage" %}>Accueil</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  {% endblock %}