{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Child care facility ERP and WebApp">
  <meta name="author" content="PGS">

  <title>{{ child_care_facility.type_of_facility }} {{ child_care_facility.name }}</title>

  <!-- Bootstrap Core CSS -->
  <link href={% static "frontpage/vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">

  <!-- Custom Fonts -->
  <link href={% static "frontpage/vendor/fontawesome-free/css/all.min.css" %} rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href={% static "frontpage/vendor/simple-line-icons/css/simple-line-icons.css" %} rel="stylesheet">

  <!-- Custom CSS -->
  <link href={% static "frontpage/css/stylish-portfolio.min.css" %} rel="stylesheet">

</head>

<body id="page-top">

  {% block content %}
  {% endblock content %}

  <!-- Bootstrap core JavaScript -->
  <script src={% static "frontpage/vendor/jquery/jquery.min.js" %}></script>
  <script src={% static "frontpage/vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>

  <!-- Plugin JavaScript -->
  <script src={% static "frontpage/vendor/jquery-easing/jquery.easing.min.js" %}></script>

  <!-- Custom scripts for this template -->
  <script src={% static "frontpage/js/stylish-portfolio.min.js" %}></script>

</body>

</html>
