{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Child care facility ERP and WebApp">
  <meta name="author" content="PGS">

  <title>{{ child_care_facility.type_of_facility }} {{ child_care_facility.name }}</title>

  <!-- Bootstrap Core CSS -->
  <link href={% static "frontpage/vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">

  <!-- Custom Fonts -->
  <link href={% static "frontpage/vendor/fontawesome-free/css/all.min.css" %} rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href={% static "frontpage/vendor/simple-line-icons/css/simple-line-icons.css" %} rel="stylesheet">

  <!-- Custom CSS -->
  <link href={% static "frontpage/css/stylish-portfolio.min.css" %} rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">{{ child_care_facility.name }}</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#page-top">Accueil</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#about">A propos</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#services">Services</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#portfolio">Nouvelles</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#contact">Contact</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href={% url "auth:login" %}>Connexion</a>
      </li>
    </ul>
  </nav>

  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">{{ child_care_facility.name }}</h1>
      <h3 class="mb-5">
        <em>{{ child_care_facility.type_of_facility }}</em>
      </h3>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Découvrez-Nous</a>
    </div>
    <div class="overlay"></div>
  </header>

  <!-- About -->
  <section class="content-section bg-light" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>La {{ child_care_facility.type_of_facility }} qui s'adapte à vos besoins!</h2>
          <p class="lead mb-5">{{ child_care_facility.name }} est une {{ child_care_facility.type_of_facility }} qui tient compte de vos contraintes et des besoins de vos enfants</p>
          <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">Ce que nous proposons</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Services -->
  <section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
      <div class="content-section-heading">
        <h3 class="text-secondary mb-0">Services</h3>
        <h2 class="mb-5">Ce que nous proposons</h2>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-screen-smartphone"></i>
          </span>
          <h4>
            <strong>Responsive</strong>
          </h4>
          <p class="text-faded mb-0">Looks great on any screen size!</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-pencil"></i>
          </span>
          <h4>
            <strong>Redesigned</strong>
          </h4>
          <p class="text-faded mb-0">Freshly redesigned for Bootstrap 4.</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-like"></i>
          </span>
          <h4>
            <strong>Favorited</strong>
          </h4>
          <p class="text-faded mb-0">Millions of users
            <i class="fas fa-heart"></i>
            Start Bootstrap!</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-mustache"></i>
          </span>
          <h4>
            <strong>Question</strong>
          </h4>
          <p class="text-faded mb-0">I mustache you a question...</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Callout -->
  <section class="callout">
    <div class="container text-center">
      <h2 class="mx-auto mb-3">Venez Visiter !</h2>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#contact">Adresse</a>
    </div>
  </section>

  <!-- Portfolio -->
  <section class="content-section" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center">
        <h3 class="text-secondary mb-0">Vie de la Structure</h3>
        <h2 class="mb-5">Les News !</h2>
      </div>
      <div class="row no-gutters">
        {% for new in news %}
        <div class="col-lg-6">
          <a class="portfolio-item" href="#!">
            <div class="caption">
              <div class="caption-content">
                <div class="h2">{{ new.title }}</div>
                <p class="mb-0">{{ new.content }}</p>
              </div>
            </div>
            <img class="img-fluid" src={{ new.img_url.url }} alt="image">
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section id="contact" class="content-section bg-primary text-white">
    <div class="container text-center">
      <h2 class="mb-4">Contactez Nouz !</h2>
      <div class="row">
        <div class="col-lg-6 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-phone"></i>
          </span>
          <h4>
            <strong>{{ child_care_facility.phone }}</strong>
          </h4>
          <p class="text-faded mb-0">Allo !</p>
        </div>
        <div class="col-lg-6 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-envelope-letter"></i>
          </span>
          <h4>
            <strong>{{ child_care_facility.email }}</strong>
          </h4>
          <p class="text-faded mb-0">@Bonjour !</p>
        </div
      </div>
    </div>
  </section>

  <!-- Map -->
  <div class="map">
    <iframe src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q={{ gg_adress }}&amp;aq=0&amp;ie=UTF8&amp;hq={{ gg_adress }}&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
    <br />
    <small>
      <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=fr&amp;geocode=&amp;q={{ gg_adress }}&amp;ie=UTF8&amp;hq={{ gg_adress }}&amp;t=m&amp;z=15&amp;iwloc=A"></a>
    </small>
  </div>

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#!">
            <i class="icon-social-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="#!">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; PGS2020</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src={% static "frontpage/vendor/jquery/jquery.min.js" %}></script>
  <script src={% static "frontpage/vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>

  <!-- Plugin JavaScript -->
  <script src={% static "frontpage/vendor/jquery-easing/jquery.easing.min.js" %}></script>

  <!-- Custom scripts for this template -->
  <script src={% static "frontpage/js/stylish-portfolio.min.js" %}></script>

</body>

</html>
